<article class="message">
      <div class="title"
        <a href="{{message_id}}" target="_blank">{{title}}</a>
        <span>({{format_url message_id}})</span>
      </div>
      <div class="meta">
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{message.content}} </a>
      </div>
    </article>