<!-- Styling for each post on Profile/Dashboard Page -->




<div class="card mb-4 w-75">
  <div class="container row">
    <div class="card-header align-center col-md-6 bg-secondary opacity-50">
      <h5 class="card-title text-black fw-bold">{{title}}</h5>
    </div>

    <div class="col-md-4 align-center mt-4">
      <a href="{{post_url}}" target="_blank" class="btn btn-primary fw-bold">Read More</a>
      <span class="text-muted fw-bold py-1 px-2">({{format_url post_url}})</span>
    </div>
    <div class="col-md-4 py-1">
      <p class="card-text px-1"><small class="text-muted fw-bold"><i class="fa-regular fa-heart px-1"></i>
          {{vote_count}} {{format_plural
          "Like" vote_count}} <i class="far fa-user px-1"></i> {{user.username}} <span class="px-2"> <a
              href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a></span></small></p>
    </div>

    <div class="card-footer text-muted">
      <i class="fas fa-calendar-alt"></i> {{format_date created_at}}
    </div>

  </div>
</div>