<article class="post">
      <div class="title"
        <a href="{{post_id}}" target="_blank">{{title}}</a>
        <span>({{format_url post_id}})</span>
      </div>
      <div class="meta">
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{post.content}} </a>
      </div>
    </article>