<!-- Styling for each post on Profile/Dashboard pages -->
<div class="card mb-4">
  <div class="container row">
    <div class="card-header col-md-6" style="background-color: #3777FF;" >
      <h5 class="col card-title text-light fw-bold">{{title}}</h5>
    </div>

    <div class="col-md-4 align-center mt-4">
      <a href="/post/{{id}}" class="btn btn-primary fw-bold">View Post</a>
      <p class="text-muted fw-bold mt-2"> or </p>
      <a href="mailto:{{post_url}}" target="_blank" class="btn btn-primary fw-bold">Reach Out</a>
      <span class="text-muted fw-bold">({{format_url post_url}})</span>
    </div>
    <div class="col-md-6 py-1">
      <p class="card-text"><small class="text-muted fw-bold"><i class="fa-regular fa-heart"></i>
          {{vote_count}} {{format_plural
          "Like" vote_count}} <i class="far fa-user"></i> {{user.username}} <span class="px-1"> {{comments.length}}
            {{format_plural "comment" comments.length}}</span></small></p>
    </div>

    <div class="card-footer text-muted">
      <i class="fas fa-calendar-alt"></i> {{format_date created_at}}
    </div>

  </div>
</div>